.aboutMe {
    position: relative;
    bottom: -150px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.aboutMe header {
    color: rgb(223, 200, 193);
    font-family: clarendon-urw, serif;
    font-size: 80px;
    border: 0px;
}

.aboutMe h2 {
    color: rgb(234, 220, 218);
    font-family: franklin-gothic-extra-compre, sans-serif;
    font-style: normal;
    font-weight: 400;
}