
iframe {
    height: 160vh;
    width: 55vw;
  
}

.Resume {
    position: relative;
    bottom: -55px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

header {
    color: rgb(223, 200, 193);
    font-family: clarendon-urw, serif;
    font-size: 70px;

}

div.doc {
    min-width: 56vw;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    height: 160vh;
   margin-left: 20vw;
   margin-right: 20vw;
  
    
}