html,
body {
    background-color: rgb(26, 31, 46);
}

.main {
    position: relative;
    bottom: -240px;
    left: 140px;
    float: left;

}

div.main header {
    color: rgb(223, 200, 193);
    font-family: clarendon-urw, serif;
    font-size: 80px;

}

div.main h2 {
    color: rgb(234, 220, 218);
    font-family: franklin-gothic-extra-compre, sans-serif;
    font-style: normal;
    font-weight: 400;

}


.right {
    color: rgb(234, 220, 218);
    position: absolute;
    padding-top: 100px;
    left: 75vw;
    float: right;
    

}


h1 {
    text-align: center;
}


@media (max-width: 1450px) {
    .main {
        justify-content: center;
        text-align: center;
        bottom: -140px;
        left: auto;
        float: none;


    }
    .right{
       padding-top: 225px;
       position: absolute;
       float: none;
       right: 0vw;
       left: 0vw;
       
    }
}