@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap');
html{
    background-color: #283c5c;
}
body {
    background-color: #283c5c;
}
.main {
    color: #2c8e8d;
    position: relative;
    bottom: -240px;
    left: 140px;
    float: left;
    
}
h2 {
    color: #397981
}

.right{
    color: #2c8e8d;;
    position: relative;
    bottom: -100px;
    left: -220px;
    float: right;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8vh;
    
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
}

@media only screen and (max-width: 1045px) {
    .main {
     justify-content: center;
     text-align: center;
     bottom: -140px;
     left: auto;
     float: none;


     }
     .right{
        justify-content: center;
        text-align: center;
        float: none;
        left: auto;
        bottom: -300px;
        
     }
}
